<h1>Cutoff Notification</h1>

<form action="/" method="POST">
   <label>User Email:</label>
   <input type="text" name="email"/>
   
   <br><br>
   <label>Spender's Email:</label>
   <input type="text" name="spenderemail"/>

   <br><br>
   <label>Relationship To Spender:</label>
   <select name="relationship">
      {{#each relationship}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
   </select>

   <br><br>
   <label>Expense Category:</label>
   <select name="category">
      {{#each category}}
      <option value= "{{this}}">{{this}}</option>
      {{/each}}
   </select>

   <br><br>
   <label>Expense Amount:</label>
   <input type="text" name="amount"/>

   <br><br>
   <label>Expense Date:</label>
   <input type="text" name="date"/>

   <br><br>
   <label>Expense Description:</label><br>
   <textarea name="expensedesc"/></textarea>

   <br><br>
   <input type="submit" value="Submit">
</form>
