<h1>Cutoff Notification</h1>

<form action="/" method="POST">
   <label for="email">User Email:</label>
   <input type="text" name="email" id="email"/>
   
   <label for="spenderemail">Spender's Email:</label>
   <input type="text" name="spenderemail" id="spenderemail"/>

   <label for="relationship">Relationship To Spender:</label>
   <input type="text" name="relationship" id="relationship"/>

   <label for="category">Expense Category:</label>
   <input type="text" name="category" id="category"/>

   <label for="amount">Expense Amount:</label>
   <input type="text" name="amount" id="amount"/>

   <label for="date">Expense Date:</label>
   <input type="text" name="date" id="date"/>

   <label for="expensedesc">Expense Description:</label>
   <input type="text" name="expensedesc" id="expensedesc"/>

   <input type="submit" value="Submit">
</form>
